<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% stylesheets
        '@bootstrap_css'
        '@custom_css'%}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>



    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Book Reviews</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ><a href="{{ path('index') }}">Home</a></li>
                    <li ><a href="{{ path('view_reviewed_books') }}">See Reviews</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li ><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                        <li ><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                    {% else %}
                        <li ><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
        {% block jumbotron %}{% endblock %}
    <div class="container-fluid">
        <div class="row">
            {% block body %}{% endblock %}
        </div>
    </div>

    <div class="footer">
        {% block footer %}
            <p>Book Reviews</p>
        {% endblock %} </div>

        {% javascripts '@jquery' '@bootstrap_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>