
/*
* Global
*/

.navbar {
    margin-bottom: 0;
}

.submitted-reviews .main-review {
    border-top: 1px solid #cccccc;
}

.submitted-reviews .main-review,
.submitted-reviews .user-review,
.search-item {
    padding: 10px 0;
    border-bottom: 1px solid #cccccc;
}

.submitted-reviews .main-review:last-child,
.submitted-reviews .user-review:last-child,
.search-item:last-child {
    border-bottom: none !important;
}

/*
* Jumbotron
*/

.jumbotron {
    background: #38e175;
    padding: 100px 50px;
    text-align: center;
}

.jumbotron .jumbotron-items {
    float: none;
}

.jumbotron h1 {
    color: white;
}

.jumbotron-search,
.jumbotron-submit{
    padding: 0 !important;
}

.jumbotron-submit {
    text-align: left;
}

/*
* Reviews
*/

.review img {
    height: 250px;
}

.glyphicon-star {
    color: #f1c40f;
}

.glyphicon-asterisk {
    color: #e74c3c;
}

label.required {
    margin-right: 40px;
}

input[type="radio"] {
    margin-right: 5px;
}

/*
* Search
*/

.search-item {
    margin-top: 30px;
    padding-bottom: 30px;
    float: none !important;
}

.search-img-container img {
    height: 250px;
}

/*
* Footer
*/

.footer {

    background: #F5F5F5;
    margin-top: 40px;
    padding: 25px 0;
    text-align: center;
}