
/*
* Global
*/

.navbar {
    margin-bottom: 0;
}

/*
* Jumbotron
*/

.jumbotron {
    background: #38e175;
    padding: 100px 50px;
    text-align: center;
}

.jumbotron h1 {
    color: white;
}

/*
* Reviews
*/

.review img {
    height: 250px;
}

.submitted-reviews .main-review {
    border-top: 1px solid #cccccc;
}

.submitted-reviews .main-review,
.submitted-reviews .user-review {
    padding: 10px 0;
    border-bottom: 1px solid #cccccc;
}

.submitted-reviews .main-review:last-child,
.submitted-reviews .user-review:last-child {
    border-bottom: none !important;
}

.glyphicon-star {
    color: #f1c40f;
}

.glyphicon-asterisk {
    color: #e74c3c;
}

label.required {
    margin-right: 40px;
}

input[type="radio"] {
    margin-right: 5px;
}