{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="row">
        <div class="center-block">

            <div class="page-header">
                <h1>Register</h1>
            </div>

            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register')}) }}
                <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class' : 'form-control'}}) }}
                 </div>

                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_errors(form.username) }}
                    {{ form_widget(form.username, {'attr': {'class' : 'form-control'}}) }}
                </div>

            <div class="form-group">
                {{ form_label(form.plainPassword.first) }}
                {{ form_errors(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first, {'attr': {'class' : 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.plainPassword.second) }}
                {{ form_errors(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second, {'attr': {'class' : 'form-control'}}) }}
            </div>
                <input class="btn btn-default" type="submit" value="{{ 'Submit'|trans }}" />
            {{ form_end(form) }}
        </div>
    </div>
</div>




