{% extends "::base.html.twig" %}

{% block title %}{{ attribute(book['volumeInfo'], 'title') is defined ? attribute(book['volumeInfo'], 'title') : 'N/A' }}{% endblock %}

{% block body %}

    <div class="col-sm-12 col-md-5">
        <img class="img-responsive img-rounded pull-right" src="{{ attribute(book['volumeInfo']['imageLinks'], 'small') is defined ? attribute(book['volumeInfo']['imageLinks'], 'small') : asset('uploads/covers/default.png')}}"/>
    </div>
    <div class="col-sm-12 col-md-6">
        <h1>{{ attribute(book['volumeInfo'], 'title') | title }}</h1>
        <p> {{ attribute(book['volumeInfo'], 'description') is defined ? attribute(book['volumeInfo'], 'description') | raw : 'N/A'  | nl2br }}</p>
        <p><strong>Author: </strong>{{ attribute(book['volumeInfo']['authors'], 0) is defined ? 'Author: ' ~ attribute(book['volumeInfo']['authors'], 0) : 'N/A'  }}</p>
        <p><strong>Published: </strong>{{ attribute(book['volumeInfo'], 'publishedDate')| date('d/m/y') }}</p>
       {% if user is not empty %}

           {% if doesExist is empty %}
               <a class="btn btn-primary" href="{{ path('create_new_book_review', {id: attribute(book, 'id')}) }}">Create book review</a>
           {% else %}
               <a class="btn btn-primary" href="{{ path('view_book_review', {id: attribute(doesExist, 'id')}) }}">View review</a>
           {% endif %}

       {% endif %}
        <div class="row">
            {% if film is not empty %}

                <h2>Related film</h2>
                <div class="col-md-5">
                    <img src="{{ 'https://image.tmdb.org/t/p/w185/' ~ attribute(film[0], 'poster_path')}}">
                </div>
                <div class="col-md-5">
                    <p>Average rating {{ attribute(film[0], 'vote_average') }}</p>
                    <p>Film synopsis: {{ attribute(film[0], 'overview') }}</p>
                </div>

                <div class="col-md-12">

                    {% if attribute(film[0], 'trailer_key') is not empty %}
                        <h4>Trailer</h4>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/{{ attribute(film[0], 'trailer_key') }}" frameborder="0" allowfullscreen></iframe>
                    {% endif %}
                </div>
            {% else %}

                <h3>No related films</h3>

            {% endif %}


        </div>
    </div>

{% endblock %}