{% extends 'ReviewsBookBundle:Layout:one-column-layout.html.twig' %}

{% block title %}Books Homepage{% endblock %}


{% block jumbotron %}
        <div class="jumbotron row">
            <div class="jumbotron-items center-block col-sm-12 col-md-8">
                <div class="row">
                    <div class="col-sm-12"><h1>Search for a book</h1></div>
                    {{ form_start(searchForm, { attr: {novalidate: 'novalidate'} }) }}

                        <div class="col-md-10 jumbotron-search">
                            {{ form_widget(searchForm.title) }}
                        </div>
                        <div class="col-md-2 jumbotron-submit">
                            {{ form_widget(searchForm.submit) }}
                        </div>

                    {{ form_end(searchForm, {'render_rest': false}) }}
                </div>




                {#{% if is_granted('IS_AUTHENTICATED_FULLY') %}#}
                    {#<p>Read anything interesting??</p>#}
                    {#<p><a class="btn btn-default" href="{{ path('create_book_review') }}">Create review</a></p>#}
                {#{% endif %}#}
            </div>
        </div>
{% endblock %}

{% block body %}

    <h3 class="text-center">{{ 'Latest reviews' | title }}</h3>

        {% for book in bookEntries %}
            <div style="text-align: center;" class="col-sm-6 col-md-4 review">
                {% if book.bookCover %}
                    <img style="width: auto; height: 200px;" class="img-rounded center-block" src="{{ asset('uploads/covers/' ~ book.bookCover) }}"/>
                {% endif %}
                <h4 class="text-center">
                    <a href="{{ path('view_book_review', {id: book.id}) }}">{{ book.title | title | truncate(30) }}</a>
                </h4>
                <p>{{ book.summary | truncate(150) }}</p>
                <p>
                    Submitted by: {{ book.user.username }}
                </p>
                <p>
                    <a href="{{ path('view_book_review', {id: book.id}) }}">Read More...</a>
                </p>
            </div>
        {% endfor %}

{% endblock %}
