{% extends 'ReviewsBookBundle:Layout:one-column-layout.html.twig' %}

{% block title %}Reviewed Books{% endblock %}

{% block body %}

    <h3 class="text-center">{{ 'Reviews' | title }}</h3>

    {% for book in bookEntries %}
        <div class="col-sm-6 col-md-6 review">
            {% if book.bookCover %}
                <div class="col-md-6">
                    <img style="width: 100%; height: 100%; margin-top: 20px;" class="img-rounded center-block" src="{{ asset('uploads/covers/' ~ book.bookCover) }}"/>
                </div>
            {% endif %}
            <div class="col-md-6">
                <h4 class="text-center">
                    <a href="{{ path('view_book_review', {id: book.id}) }}">{{ book.title | title | truncate(30) }}</a>
                </h4>
                <p>{{ book.summary | truncate(150) }}</p>
                <p>
                    Submitted by: {{ book.user.username }}
                </p>
                <p>
                    <a href="{{ path('view_book_review', {id: book.id}) }}">Read More...</a>
                </p>
            </div>

        </div>
    {% endfor %}

{% endblock %}