{% extends '::base.html.twig' %}

{% block title %}Results{% endblock %}


{% block body %}

    <div class="center-block col-sm-12 col-md-8 search-item">
       <h2>{{ 'Search for a book' | title }}</h2>
        {{ form_start(searchForm, { attr: {novalidate: 'novalidate'} }) }}
            <div class="form-group">
                {{ form_label(searchForm.title) }}
                {{ form_widget(searchForm.title, {'attr': {'class' : 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(searchForm.isbn) }}
                {{ form_widget(searchForm.isbn, {'attr': {'class' : 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(searchForm.author) }}
                {{ form_widget(searchForm.author, {'attr': {'class' : 'form-control'}}) }}
            </div>
        {{ form_widget(searchForm.submit) }}
        {{ form_end(searchForm, {'render_rest': false}) }}

    </div>
    {% if results %}

       {% for result in results %}

           <div class="center-block col-sm-12 col-md-8 search-item">
               <div class="row">

                   <div class="col-sm-12 col-md-5 search-img-container">
                       <img class="img-responsive img-rounded pull-right" src="{{ attribute(result['volumeInfo']['imageLinks'], 'thumbnail') is defined ? attribute(result['volumeInfo']['imageLinks'], 'thumbnail') : asset('uploads/covers/default.png')}}"/>
                   </div>
                   <div class="col-sm-12 col-md-6">


                        <h3>{{ attribute(result['volumeInfo'], 'title') }}</h3>
                        <p>{{ attribute(result['volumeInfo']['authors'], 0) is defined ? 'Author: ' ~ attribute(result['volumeInfo']['authors'], 0) : 'N/A' }}</p>
                        <p>{{ attribute(result['volumeInfo'],'publisher') is defined ? 'Published by: ' ~ attribute(result['volumeInfo'],'publisher') : 'N/A' }}</p>
                        <p>{{ attribute(result['volumeInfo'], 'description') is defined ? attribute(result['volumeInfo'], 'description') | truncate(250) : 'N/A' }}</p>
                        <a class="btn btn-primary" href="{{ path('view_book', {id: attribute(result, 'id')}) }}">View</a>
                   </div>
               </div>

           </div>
        {% endfor %}

   {% else  %}
    <div class="center-block col-sm-12 col-md-8">
        <div class="row">
            <div class="alert alert-danger" role="alert">
                <p>No results found for <strong>{{ term }}</strong></p>
                <p><a class="btn btn-default" href="{{ path('create_book_review') }}">Create new book & review</a></p>
            </div>
        </div>
    </div>

   {% endif  %}
{% endblock %}
