{% extends "::base.html.twig" %}

{% block title %}New book review{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-md-5">
            {% if bookCover is defined %}
                <img class="center-block" src="{{ bookCover }}">
            {% endif %}
        </div>
        <div class="col-md-5 center-block">

            <h1 class="text-center">Write your review</h1>
            {{ form_start(form) }}

            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_errors(form.title) }}
                {{ form_widget(form.title, {'attr': {'class' : 'form-control', 'readonly': 'true' }}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.isbn) }}
                {{ form_errors(form.isbn) }}
                {{ form_widget(form.isbn, {'attr': {'class' : 'form-control', 'readonly': 'true' }}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.summary) }}
                {{ form_errors(form.summary) }}
                {{ form_widget(form.summary, {'attr': {'class' : 'form-control', 'readonly': 'true' }}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.author) }}
                {{ form_errors(form.author) }}
                {{ form_widget(form.author, {'attr': {'class' : 'form-control', 'readonly': 'true' }}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.userReview) }}
                {{ form_errors(form.userReview) }}
                {{ form_widget(form.userReview, {'attr': {'class' : 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.rating) }}
                {{ form_errors(form.rating) }}
                {{ form_widget(form.rating, {'attr': {'class' : 'radio-inline'}}) }}
            </div>

            <input class="btn btn-default" type="submit" value="{{ 'Submit review'|trans }}" />
            {{ form_end(form, {'render_rest': false}) }}

        </div>
    </div>

{% endblock %}
