{% extends "::base.html.twig" %}

{% block title %}New book review{% endblock %}

{% block body %}
{% if upload_error is not empty %}
    <div class="alert alert-warning" role="alert">{{ upload_error }}</div>
{% endif %}
<h1>Let's hear about this interesting book review</h1>
<p>Tell us some information about this book review</p>
    {{ form(form) }}
{% endblock %}
