{% extends "::base.html.twig" %}

{% block title %}Edit {{ book.title }}{% endblock %}

{% block body %}

    <div class="col-sm-12 col-md-6">
        <h4>Currently editing {{ book.title }}</h4>
        {{ form_start(form) }}
        <div class="form-group">

            {{ form_label(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_widget(form.title) }}

        </div>
        <div class="form-group">

            {{ form_label(form.isbn) }}
            {{ form_errors(form.isbn) }}
            {{ form_widget(form.isbn) }}

        </div>
        <div class="form-group">

            {{ form_label(form.summary) }}
            {{ form_errors(form.summary) }}
            {{ form_widget(form.summary) }}

        </div>
        <div class="form-group">

            {{ form_label(form.releaseDate) }}
            {{ form_errors(form.releaseDate) }}
            {{ form_widget(form.releaseDate) }}

        </div>
        <div class="form-group">

            {{ form_label(form.author) }}
            {{ form_errors(form.author) }}
            {{ form_widget(form.author) }}

        </div>
        <div class="form-group">

            {{ form_label(form.userReview) }}
            {{ form_errors(form.userReview) }}
            {{ form_widget(form.userReview) }}

        </div>
        <div class="form-group">

            {{ form_label(form.rating) }}
            {{ form_errors(form.rating) }}
            {{ form_widget(form.rating) }}

        </div>
    {#<div class="form-group">#}

        {#{{ form_label(form.bookCover) }}#}
        {#{{ form_errors(form.bookCover) }}#}
        {#{{ form_widget(form.bookCover) }}#}

    {#</div>#}
        <div class="form-group">

            {{ form_widget(form.submit) }}

        </div>
        <div class="form-group">

            <p>
                <a class="btn btn-danger" href="{{ path('delete_book_review', {id: book.id}) }}">Delete review</a>
            </p>

        </div>

        {{ form_end(form, {'render_rest': false}) }}

    </div>

{% endblock %}
