{% extends "::base.html.twig" %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}
    {% if bookExists == true %}
        <div class="alert alert-warning" role="alert">
            <p>{{ book.title | title }} already exists</p>
        </div>
    {% endif %}

    <div class="col-sm-12 col-md-5">
        <img class="img-responsive img-rounded pull-right" src="{{ asset('uploads/covers/' ~ book.bookCover) }}"/>
    </div>
    <div class="col-sm-12 col-md-6">

        <h1>
            {{ book.title | title }}

            {% if book.googleBookId is not empty %}
                {% if user == book.user %}
                    <a class="btn btn-primary" href="{{ path('delete_book_review', {'id' : book.id}) }}">Delete review</a>
                {% endif %}
            {% endif %}

            {% if book.googleBookId is empty %}
                {% if user == book.user %}
                    <a class="btn btn-primary" href="{{ path('edit_book_review', {'id' : book.id}) }}">Edit</a>
                {% endif %}
            {% endif %}
        </h1>
        <p> <strong>Rating:</strong>
            {% for i in range(1, book.rating) %}
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            {% endfor %}
        </p>
        <p> {{ book.summary | nl2br }}</p>
        <p><strong>Created by: </strong>{{ book.author }}</p>
        <p><strong>Released on: </strong>{{ book.releaseDate | date('d/m/y') }}</p>
        <p><strong>ISBN: </strong> {{ book.isbn | nl2br }}</p>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h4>{{ 'User reviews' | title }}</h4>
                <div class="row">
                    <div class="col-sm-12">
                       <div class="row submitted-reviews">
                           <div class="main-review col-sm-12">
                               <p>
                                   <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                   <strong>Reviewed by: </strong>{{ book.user.username }}
                               </p>
                               <p>{{ book.userReview }}</p>
                           </div>

                           {% if comments %}
                               {% for comment in comments %}

                                   <div class="user-review col-sm-12">
                                       <p><strong>Reviewed by: </strong>{{ comment.user ? comment.user.username | nl2br : 'Anon' | nl2br }} at <strong>{{ comment.timePosted | date('d/m/y h:i:sa') }}</strong></p>
                                       <p>Rating:
                                           {% for i in range(1, comment.rating) %}
                                               <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                           {% endfor %}
                                       </p>
                                       <p><strong>{{ comment.title | nl2br }}</strong></p>
                                       <p>{{ comment.summary | nl2br }}</p>
                                   </div>
                               {% endfor %}
                           {% else%}
                               <div class="col-sm-12">
                                   <p><strong>No submitted reviews</strong></p>
                               </div>
                           {%  endif %}
                       </div>
                    </div>
                </div>

                {% if user != book.user %}
                    {{ form_start(form) }}

                    <div class="form-group">

                        {{ form_label(form.rating) }}
                        {{ form_errors(form.rating) }}
                        {{ form_widget(form.rating) }}

                    </div>

                    <div class="form-group">

                        {{ form_label(form.title) }}
                        {{ form_errors(form.title) }}
                        {{ form_widget(form.title) }}

                    </div>

                    <div class="form-group">

                        {{ form_label(form.summary) }}
                        {{ form_errors(form.summary) }}
                        {{ form_widget(form.summary) }}

                    </div>

                    <input class="btn btn-primary" type="submit" value="{{ 'Submit review'|trans }}" />

                    {{ form_end(form, {'render_rest': false}) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}