{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="center-block">
            <div class="page-header">
                <h1>Login</h1>
            </div>

            <form action="{{ path("fos_user_security_check") }}" method="post">

                <div class="form-group">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="username">{{ 'Username'}}</label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>

                <div class="form-group">
                    <label for="password">{{ 'Password' }}</label>
                    <input class="form-control" type="password" id="password" name="_password" required="required" />
                </div>

                <div class="checkbox-inline">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'Remember me'|trans }}</label>
                </div>

                <input class="btn btn-default" type="submit" id="_submit" name="_submit" value="{{ 'Submit' }}" />
            </form>

        </div>
    </div>
</div>