<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% block stylesheets %}{% endblock %}
    {% stylesheets
    '@bootstrap_css'
    '@custom_css'%}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'Logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}
        {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
    {% endif %}
</div>

{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        <div class="{{ type }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
{% endfor %}

<div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
        {% block content %}
                <div id="fb-root"></div>
                <script>

                    window.fbAsyncInit = function() {
                        FB.init({
                            appId      : '356359048094428',
                            xfbml      : true,
                            version    : 'v2.8'
                        });
                        FB.AppEvents.logPageView();
                    };

                    (function(d, s, id){
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) {return;}
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_US/sdk.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));

                        function fb_login() {

                                FB.getLoginStatus(function(response) {
                                    console.log("Passed");

                                        if (response.status === 'connected') {
                                                // connected
                                                alert('Already connected, redirect to login page to create token.');
                                                document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                                        } else {
                                                // not_authorized
                                                FB.login(function(response) {
                                                        if (response.authResponse) {
                                                                document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                                                        } else {
                                                                alert('Cancelled.');
                                                        }
                                                }, {scope: 'email'});
                                        }
                                });
                        }
                </script>

    <div class="container">
        <div class="row">
            <div class="center-block">
                <p>
                    <a class="btn btn-primary" href="#" onclick="fb_login();">Sign in with Facebook</a>
                </p>
            </div>
        </div>
    </div>

        {% endblock %}
</div>
</body>
</html>